.event {
    width: 91%; 
    margin: auto; 
    margin-top: 100px;
    margin-bottom: 142px;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    // width: 91%;
}  

.img_pos {
    width: 400px;
    height: 400px;
    // margin: 0px 20px;
    cursor: pointer;
    z-index: 0;
} 

.event_title {
    font-family: georgia;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 50px;
} 

.slider_img {
    // background-image: url("../../assets/images/slider.png");
    // background-size: contain;
    height: 400px;     
    max-width: 400px; 
    // width: 100%;
    // border: 2px solid red;
}   

.img_of_img {
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
} 

.event_des {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-family: lato-regular;
    font-size: 30px;
    font-weight: 500; 
    position: absolute;
    bottom: -200px;
    z-index: 1;
    padding: 42px 0; 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


// slider part 

// .products_dot {
//     display: none !important;
// }

// .slider {
//     display: flex;
//     width: 100%;
//     // justify-content: center;
// } 

// .slider-container {
//     position: static !important;
// }  


.swiper-slide-shadow-left {
    display: none !important;
} 

.swiper-slide .swiper-slide-shadow-right {
    display: none !important;
}

// .next_btn {
//     display: none ;
// }  

